@model Transacao
@{
    ViewData["Title"] = "Nova Transacao";
}

<h2>Registrar Transação</h2>

@{
    var vData = "";
    var vValor = 0.0;
    var vDescricao = "";
    var vTipo = "";
    var vId = 0;
    var vConta_Id = 0;
    var vPlanoConta_Id = 0;
    try
    {
        vId = int.Parse(@ViewBag.Buscar.Id.ToString());
        vDescricao = @ViewBag.Buscar.Descricao.ToString();
        vTipo = @ViewBag.Buscar.Tipo.ToString();
        vData = DateTime.Parse(@ViewBag.Buscar.Data.ToString()).ToString("yyyy-MM-dd");
        vConta_Id = int.Parse(@ViewBag.Buscar.Conta_Id.ToString());
        vPlanoConta_Id = int.Parse(@ViewBag.Buscar.Plano_Contas_Id.ToString());
        vValor = Double.Parse(@ViewBag.Buscar.Valor.ToString());

    }
    catch
    {

    }
}

<form asp-controller="Transacao" asp-action="NovaTransacao">
    <input type="hidden" asp-for="Id" value="@vId" />

    <div class="form-group">
        <label>Data:</label>
        <input type="date" class="form-control" asp-for="Data" value="@vData" />
        <span asp-validation-for="Data" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Tipo:</label>
        @{
            if (vTipo == "R")
            {
                <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" checked>Receita</label></div>
                <div class="radio"><label> <input type="radio" asp-for="Tipo" value="D" unchecked>Despesa</label></div>
            }
            else
            {
                <div class="radio"><label><input type="radio" asp-for="Tipo" value="R" unchecked>Receita</label></div>
                <div class="radio"><label> <input type="radio" asp-for="Tipo" value="D" checked>Despesa</label></div>
            }
        }
    </div>

    <div class="form-group">
        <label>Valor</label>
        <input type="number" class="form-control" asp-for="Valor" value="@vValor" />
        <span asp-validation-for="Valor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Histórico</label>
        @Html.TextArea("Descricao",vDescricao, new { @class = "form-control" })
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="Conta">Conta: </label>
        <select asp-for="Conta_Id" class="form-control">
            @foreach (var item in (List<Conta>)ViewBag.ListaConta)
            {
                if (item.Id == vConta_Id)
                {
                    <option selected value="@item.Id">@item.Nome</option>
                }
                else
                {
                    <option  value="@item.Id">@item.Nome</option>
                }

            }
        </select>
    </div>

    <div class="form-group">
        <label for="Conta">Plano de Conta: </label>
        <select asp-for="Plano_Contas_Id" class="form-control">
            @foreach (var item in (List<PlanoDeConta>)ViewBag.ListaPlanoConta)
            {
                if (item.Id == vPlanoConta_Id)
                {
                    <option selected value="@item.Id">@item.Descricao</option>
                }
                else
                {
                    <option value="@item.Id">@item.Descricao</option>
                }

            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Salvar</button>
</form>